# Application Mode
NODE_ENV=production
# NODE_ENV=development

# Server Informations
DATABASE = [DATABASE URL]
DATABASE_PASSWORD = [DATABASE PASSWORD]
PORT=[SERVER PORT]

#JWT
JWT_SECRET= [JWT SECRET]
JWT_EXPIRES_IN= [TOKEN EXPIRE TIME IN DAYS] #Dias

#EMAIL Configurations / NODEMAIL Values

#DEVELOPMENT
EMAIL_HOST= [MAILTRAP HOST]
EMAIL_USER= [MAILTRAP USER]
EMAIL_PASSWORD= [MAILTRAP PASSWORD]
EMAIL_PORT= [EMAIL PORT FROM MAILTRAP]
DEV_EMAIL_FROM = [EMAIL FROM USED IN DEVELOPMENT]

#PRODUCTION
EMAIL_FROM = [EMAIL FROM USED IN PRODUCTION]
SENDGRID_USERNAME=[SENDGRID USERNAME]
SENDGRID_PASSWORD= [SENDGRID PASSWORD]

#COOKIE
JWT_COOKIE_EXPIRESIN= [COOKIE EXPIRE TIME] #Dias


#STRIPE
STRIPE_SECRET_KEY= [STRIPE SECRET KEY]
STRIPE_PUBLIC_KEY= [STRIPE PUBLIC KEY]
STRIPE_WEBHOOK_SECRET= [STRIPE WEBHOOK SECRET]