doctype html
html 
    //-
        Base Layout que será usado para as outras páginas, com o head e footer iguais mudando apenas o conteúdo.
    head
        block head
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")

            //-Imports
            link(rel="stylesheet" href="/css/style.css")
            link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")
            link(rel="shortcut icon" href="/img/favicon.png" type="image/png")

            //-Título da página
            title Natours | #{title}
    body 
        // Header
        include _header

        // Content
        block content
            h1 Placeholder Heading

        // Footer
        include _footer

        script(type="module" src="/dist/index.js")
        //- script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js")




