extends base

block content 
    main(class="main")
        .login-form
            h2(class="heading-secondary ma-bt-lg") Log into your account
            
            form(class="form")
                .form__group
                    label(class="form__label" for='email') Email address
                    input(id="email" class="form__input" type='email' placeholder='you@example.com' required)
                
                .form__group.ma-bt-md
                    label(class="form__label" for='password') Password
                    input(id="password" class="form__input" type='password' placeholder='••••••••' required, minlength='8')

                .form__group
                    button(class="btn btn--green") Login
