extends base

block content 
    main(class="main")
        div(class="card-container")
            each tour in tours
                .card
                    .card__header
                        .card__picture
                            .card__picture-overlay &nbsp;
                            img(
                                src="img/tour-1-cover.jpg"
                                alt="Tour 1" 
                                class="card__picture-img"
                            )
                        h3(class="heading-tertirary")
                            span The Forest Hiker
                    
                    .card__details
                        h4(class="card__sub-heading") Easy 5-day tour
                        p(class="card__text") Breathtaking hike through the Canadian Banff National Park

                        //- - const cardDataContent = [
                        //-     {   
                        //-         hrefIcon: "img/icons.svg#icon-map-pin",
                        //-         content:"Banff, Canada" 
                        //-     },
                        //-     {   
                        //-         hrefIcon: "img/icons.svg#icon-calendar",
                        //-         content:"April 2021" 
                        //-     },
                        //-     {   
                        //-         hrefIcon: "img/icons.svg#icon-flag",
                        //-         content:"3 stops" 
                        //-     },
                        //-     {   
                        //-         hrefIcon: "img/icons.svg#icon-user",
                        //-         content:"25 people" 
                        //-     }                      
                        //- ];

                        //- each cardContent in cardDataContent
                            
                        .card_data
                            svg(class="card__icon")
                                use( xlink:href = "img/icons.svg#icon-map-pin" )
                            span 25 people
                    
                    .card_footer 
                        p
                            span(class="card__footer-value") $297
                            span(class="card__footer-text") per person
                        
                        p(class="card__ratings")
                            span(class="card__footer-value") 4.9
                            span(class="card__footer-text") rating (21)
                        
                        a(href="#" class="btn btn--green btn--small") Details
                        
